<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link rel="icon" href="https://static.nowcoder.com/images/logo_87_87.png"/>
    <title>community-forget password</title>
</head>
<body>
	<div>
		<p>
			<b th:text="${email}">xxx@xxx.com</b>, hello!
		</p>
		<p>
			Did you forget your password? your verifiacation code is <b th:text="${code}">u5s6dt</b> ,
			this code will be expire in 5 min and can be used only once.
		</p>
	</div>
</body>
</html>